@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

/******************* importing the zest UI ******************/
@import url("https://focused-wiles-143c98.netlify.app/CSS/zest.css");

:root{
    --heading-font : 'Roboto Serif', sans-serif;
}

.txt-align-center{
    text-align : center;
}

.mb-2{
    margin-bottom: 2rem;
}

.mt-2{
    margin-top : 2rem;
}

.mg-sides-auto{
    margin : 0 auto;
}

.container{
    border : 3px solid red;
    width : 80%;
    max-width : 100rem;
    margin : 2rem auto;
}

header{
    font-family: var(--heading-font);
    font-size : 3rem;
}

main{
    border : 3px solid red;
}

.main-container{
    border : 3px solid green;
}








